p{
    color: rgb(34, 6, 6);
    font-style: italic;
    font-weight: bold;
}
td{
    font-style: italic;
    font-weight: bold;
}
body{
    background-image: url(https://depositphotos.com/photos/pink-blue-gradient.html);
}
